
.boton_nuevo_inicio {
    font-family: 'Akaya Telivigala', cursive;
	margin-top: 5px;
    margin-left: 5px;
    border-radius: 0px 25px 25px ;
    /* background: #e53935; */
    /* background: linear-gradient(to left, #e53935 , #e35d5b);  */
    background: linear-gradient(to left, #53C7E3 , #A1E3F3); 
	border-color: #A1E3F3;

	outline: none;
	padding: 3px 10px;
	color: white;
	font-size: 18px;
}


/* .boton_nuevo_inicio{
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 0px 25px 25px ;
} */

.total{
    display: flex;
    justify-content: center;
    font-size: 21px;
}

.listar_pedido{
    margin-top: 15px;
    border-radius: 25px 5px 25px;
    background-color: rgba(0, 0, 0, 0.7);
}
.lista_pedido{
    margin: 10px;
    text-align: center;
}
.boton_contactanos{
    border-radius: 25px 5px 25px 5px;
    display: flex;
    justify-content: center;
}